@import "scss/index";

.root {
  @include componentRoot;
  padding-top: 22px;
  padding-bottom: 14px;
  @media screen and (max-width: $xs-max){
    padding: 16px 16px 12px 16px;
    margin-top: 12px;
  }
}

.none{
  display: none;
}

.wrapper{
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  margin-top: 16px;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  div{
    flex-shrink: 0;
  }
  @media screen and (max-width: $xs-max){
    margin-right: -16px;
  }
}

.list{
  margin-top: 28px;
  overflow-x: auto;
}
.item{
  @media screen and (max-width: $xs-max){
    margin-right: 0px;

  }
  img {
    width: 134px;
    height: 134px;
    object-fit: cover;
    border-radius: 10px;
    @media screen and (max-width: $xs-max){
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
}

.label{
  font-weight: bold;
  font-size: 13px;
  color: $white;
  margin-top: 10px;
  @media screen and (max-width: 650px){
    font-size: 12px;
    margin-top: 2px;
  }
}

.user{
  font-weight: 400;
  font-size: 13px;
  color: $dark100;
  margin-top: 4px;
  @media screen and (max-width: 650px){

    font-size: 12px;

    margin-top: 2px;
  }
}

.win{
  color: #7bd245;
  span{
    color: $white;
  }
  font-weight: 400;
  margin-top: 1px;
  @media screen and (max-width: 650px){
    font-size: 12px;
  }
}

.overflow{
  display:grid;
  grid-auto-flow: column;
  grid-auto-columns:calc((100% - (3 - 1)*8px)/3);
  grid-gap: 8px;
  padding-top: 14px;
  overflow:auto;
  padding-bottom: 21px;


}
