@import "scss/index";

.root {
  @include componentRoot;
  @media screen and (max-width: 580px){
    padding-right: 0;
    padding-left: 0;
  }
}

.none{
  display: none;
}

.header{
  @media screen and (max-width: 580px){
    padding-right: 16px;
    padding-left: 10px;
  }
}

.wrapper{
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  padding-left: 23px;
  div{
    flex-shrink: 0;
  }
  @media screen and (max-width: $xs-max){
    margin-top: 17px;
    padding-left: 16px;
  }
}

.list{
  margin-top: 28px;
  padding-left: 23px;
  overflow-x: auto;
  @media screen and (max-width: $xs-max){
    padding-left: 16px;
  }
}
.item{
  @media screen and (max-width: $xs-max){
    margin-right: 8px;
  }
  img {
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    @media screen and (max-width: $xs-max){
      min-width: 78px;
      min-height: 78px;
    }
  }
}

.label{
  font-weight: bold;
  font-size: 14px;
  color: $white;
  margin-top: 10px;
  @media screen and (max-width: 650px){
    font-size: 12px;
}
}

.user{
  font-weight: 500;
  font-size: 14px;
  color: $dark100;
  @media screen and (max-width: 650px){
    font-size: 12px;
}
}

.win{
  color: #7bd245;
  span{
    color: $white;
  }
  @media screen and (max-width: 650px){
    font-size: 12px;
}
}
