@import "scss/index";

.root{
  
}

.option{
  padding: 14px 26px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  &:hover{
    background: #41424F;
  }
  @media screen and (max-width: 340px){
    font-size: 12px;
  }
}

.initial{
  font-weight: 400;
  font-size: 14px;
  @media screen and (max-width: 340px){
    font-size: 12px;
  }
}

.symbol{
  margin-right: 6px;
  display: flex;
}

.separator{
  background-color: $dark400;
  height: 24px;
  width: 1px;
  margin-right: 13px;
}