@import "scss/index";

.mobileHeader{
  padding-top: 18px;
  font-weight: 600;
  font-size: 22px;
}


.userId{
  font-weight: 500;
  font-size: 14px;
  color: $dark200;

}

.sheetBody{
  padding-top: 0px;
}
