// Box Shadow
@mixin box-shadow-base {
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.1);
}

// Font Style
@mixin textStyle26Bold {
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}

@mixin textStyle36Bold {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
}

@mixin textStyle16Bold {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
}

@mixin textStyle14600 {
  font-weight: 600;
  font-size: 14px;
}
