// Box Shadow
@mixin box-shadow-base {
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.1);
}

// Font Style
@mixin textStyle22Bold {
  font-weight: bold;
  font-size: 22px;
}

@mixin textStyle26Bold {
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}

@mixin textStyle36Bold {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
}

@mixin textStyle16Bold {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
}

@mixin textStyle14600 {
  font-weight: 600;
  font-size: 14px;
}

@mixin giftGradient {
  background: linear-gradient(49.89deg, #665AFF -5.54%, #8C18FF 128.26%);
}

@mixin overflowGradient {
  background: linear-gradient(270deg, #14151B 23.73%, rgba(20, 21, 27, 0) 100%);
}

@mixin blueGradient500 {
  background: linear-gradient(270deg, #2C50FF -6.01%, #4785F6 114.87%);
}

@mixin payGradient500{
  background: linear-gradient(270deg, #6ABD37 -6.01%, #8EDC5D 114.87%);
}

@mixin componentRoot{
    margin-top: 20px;
    padding: 5px 28px 28px 10px;
    border-radius: 18px;
    background-color: $dark700;
    @media screen and (max-width: 400px){
      padding: 16px 16px 16px 10px;
    }
}
