@import "scss/index";
.root{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 23px;
  }
}
