@import "scss/index";

.root{
  background: linear-gradient(46.89deg, #4A16E4 2.09%, #933288 11.47%, #C1444E 32.44%, #FF5C00 108.03%);
  padding: 17px 0 11px 0;
  padding-left: 85px;
  position: relative;
  max-height: 79px;
  overflow: hidden;
  border-radius: 18px;
}

.close{
  position: absolute;
  cursor: pointer;
  right: 15px;
  display: flex;
  z-index: 11;
}

.noPaddingLeft{
  @media screen and (max-width: 375px){
    padding: 5px 15px 8px 20px;
  }
}

.authBannerPadding{
  border-radius: 18px 18px 0px 0px;
  padding: 5px 32px 30px 70px;
  max-height: 125px;

}

.title{
  font-weight: bold;
  font-size: 16px;
  position: relative;
  z-index: 2;
  color: #AAFF55;
  text-align: left;
}

.bonusTimer{
  @media screen and (max-width: 375px){
    font-size: 12px;

  }
}

.bottom{
  display: flex;
  flex-direction: column;
}

.reverse{
  flex-direction: column-reverse;
}

.content{
  display: flex;
  align-items: center;
  position: relative;
}
.left{
  flex: 1;
}
.satoshi{
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  @media screen and (max-width: 375px){
    font-size: 11px;
  }
}

.hero{
  position: absolute;
  top: 0;
  z-index: 1;
  left: 10px;
}
.authBannerPadding{
  .hero {
    left: 0px;

  }
}
.hero2{
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
}

.none{
  display: none;
}

.money{
  right: -20px;
  bottom: -35px;
  position: absolute;
}
.authBannerPadding{
  .money{
    right: -35px;
    bottom: -10px;
  }
}
.money2{
  position: absolute;
  bottom: -24px;
  left: -22px;
}

.money2Timer{
  @media screen and (max-width: 375px){
    left: -85px;
    bottom: -20px !important;
  }
}

.money2AuthBanner{
  bottom: 10px;
  @media screen and (max-width: 375px){
    left: -35px;
    bottom: 7px !important;
  }
}




.withTimer{
  @media screen and (max-width: 430px){
    display: none;
  }
}

.break{
  display: none;
}

.showBreak{
  @media screen and (max-width: 375px){
    display: block;
  }
}
