@import "scss/index";

.root{
  
}
.number{

  line-height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    padding-top: 8px;
    @media screen and (max-width: $xs-max) {
      height: 50px;
      padding-top: 4px;
    }
}