@import "scss/index";

.root{
  color: $white;
  font-size: 14px;
  height: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $dark600;
  border: 1px solid #272832;
  border-radius: 8px;
  &.hasError{
    .label {
      color: #F15151;
    }
    .dropDown{
      border-color: #F15151;
    }
    .dropDownTrigger{
      border-color: #F15151;
  }
  }
}

.label{
  font-size: 13px;

  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

}

.input{
  position: relative;
}

.dropDown{
    @include dropDown;
    max-height: 200px;
    overflow-y: auto;

    &.offsetNormal{

        margin-top: 16px;
      &.opened{

        margin-top: 8px;
      }
    }
    &.offsetLarge{
      margin-top: 30px;
      &.opened{
        margin-top: 18px;
      }
    }
    .option:first-child{
      &:hover{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
    }
    .option:last-child{
      &:hover{
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
}

.dropDownTrigger {
  padding: 0px 19px;
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}



.name{
  font-size: 13px;
  flex-shrink: 0;
}

.option{
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  padding: 12px 18px;
  &.optionActive{
    font-weight: 500;
  }
  &:hover{
    background: rgba(206, 187, 170, 0.2);
  }
}


