@import "scss/index";

.root{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form{
    width: 500px;
}

.select{
    margin-bottom: 15px;
    width: 500px;
}