@import "scss/index";

.root {
text-align: center;
  font-size: 22px;
  font-weight: 700;
  &.win{

  }
  &.lose{
    .profit{
      color: $lose500;
    }
  }
}
.icon{
  margin-top: -25px;
}
.profit{
  color: #7BD245;
  margin-top: -30px;
}
.multiplier{
  color: white;
  margin-top: 8px;
}
