@import "scss/index";

.root{
  padding: 24px 23px;
  border-radius: 18px;
  background-color: $dark700;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 700px){
    padding: 0;
    padding-top: 13px;
}
@media screen and (max-width: $xs-max){
  max-height: 300px;
}
}

.col{

    @media screen and (max-width: 600px){
        flex-basis: auto !important;
        padding: 0 19px !important;
    }
}

.last{
  @media screen and (max-width: 550px){
    margin-top: 16px;
}
}

.table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  .rowInner:nth-child(odd){
      .cell{
      background-color: transparent;
      }
  }
  tbody{
    display: block;
    width: 100%;
    overflow: auto;  
    tr{
      td:nth-child(2){
        padding-right: 28px;
      }
    }
    tr:nth-child(odd){
      background-color: #272832;
    }
  }
}

.row{
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  .cell{
      padding-bottom: 26px;
      @media screen and (max-width: 550px){
          padding-bottom: 11px;
      }
      @media screen and (max-width: $xs-max){
          font-size: 12px;
      }
  }
  .cell:first-child{
      .text{
        text-align: unset;
      }
  }
}

.rowInner{
  .cell{
      padding-top: 23px;
      padding-bottom: 21px;
  }
  .cellPayout{
    .text{
      text-align: right;
    }
  }
  .cell:first-child{
    padding-left: 28px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      @media screen and (max-width: 700px){
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }
  }
  .cell:last-child{
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      @media screen and (max-width: 700px){
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }
  }

  @media screen and (max-width: $xs-max){
      margin-left: -10px;
      margin-right: -16px;
  }
}

.cell{
  display: table-cell;
  font-weight: 500;
  font-size: 16px;
  color: $dark200;
  @media screen and (max-width: 1360px){
    font-size: 12px;
}
}

.text{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  span{
    color: #eeaf4d;
  }
  @media screen and (max-width: 1360px){
    font-size: 12px;
}
@media screen and (max-width: 900px){
  font-size: 11px;
}
@media screen and (max-width: 700px){
  text-align: right;
  padding-right: 11px;
}
}

.date{
  font-size: 16px;
  font-weight: 500;
  color: $dark200;
  @media screen and (max-width: 1360px){
    font-size: 12px;
}
@media screen and (max-width: 900px){
  font-size: 11px;
}
}

.payout{
  color: $dark200;
  text-align: center;
  padding-right: 28px;
  @media screen and (max-width: 1360px){
    font-size: 12px;
}
}

.scroll{
  height: 408px !important;
  @media screen and (max-width: $mobile-max){
    height: 200px !important;
  }
}

.scroll > div:first-child{
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}