@import "scss/index";
.root{
  position: relative;
  margin-bottom: 15px;
}
.wrapper{
  position: relative;
  flex-direction: column;
}

.input{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 9px;
  padding: 0px 21px;

  background: $dark600;
  border: 0;
  width: 100%;
  height: 46px;
  color: $dark100;
  &:-webkit-autofill{
    -webkit-text-fill-color: #717384 !important;
  }
  @media screen and (max-width: $sm-min) {
    padding: 0px 21px;
  }
  &:disabled{
    //color:
    color: rgba(255,255,255, 0.5);
    .prefix{
      &.text{
        color: rgba(255,255,255, 0.5);
      }
    }
  }

  &::placeholder{
    font-size: 13px;
    color: $dark200;
  }
  &.inputFocused{
    color: $white;
    font-weight: 500;
  }

  &.inputError{
    color: #ED4700;
    border: 1px solid #ED4700;
    &::placeholder{
      color:  #ED4700 !important;
    }
  }
  &.withSuffix{
    padding-right: 40px;
  }
  &.withPrefix{
    padding-left: 49px;
  }
}


.label{
  margin-left: 29px;
  font-weight: 500;
  font-size: 16px;
  color: $dark200;
  @media screen and (max-width: $xs-max) {
    font-size: 12px;
    margin-left: 17px;
  }
}

.inputWrapper{
  position: relative;
}
.suffix{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &.arrow{
    cursor: unset;
    path{
      fill: $white;
    }
  }
}
.prefix{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $blue500;
  font-size: 16px;
  font-weight: 700;
  margin-top: 1px;
}
