@import "scss/index";

.root{
  display: flex;
  flex-direction: column;
  grid-gap: 16px 0px;
}

.stepTitle{
  margin-top: 6px;
  font-weight: 500;
  font-size: 14px;
  color: $dark200;
  text-align: left;
  @media screen and (max-width: $xs-max){
    font-size: 12px;
  }
}

.banner{

}
.mobileHeader{
  font-size: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .userId{
    font-weight: 400;
    font-size: 14px;
    color: $dark200;

  }
}
