@import "scss/index";
.root{

}
.input{
  margin-bottom: 10px;

  @media screen and (max-width: $xs-max){
    margin-bottom: 8px;
  }
  input {
    color: $white;
    font-weight: 500;
    font-size: 16px;
  }
}
.options{


  overflow: hidden;
  margin: -5px -5px 0px -5px;
}

.option{
  float: left;
  background: $dark600;
  border-radius: 8px;
  padding: 0px 8px 0px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  color: $dark200;
  height: 22px;
  line-height: 22px;
  margin: 5px 5px;

  @media screen and (max-width: $xs-max){
    font-size: $mobile13;
    height: 30px;
  }
  &.active{
    @include blueGradient500NoHover;
    color: $white;
  }

}

.prefix{

  display: flex;
  align-items: center;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 53px;
}
