@import "../../../../../../scss/index";

.root{
  background-image: url('../../../../../../public/img/Chess/create-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 11px;
  padding: 28px;
  padding-bottom: 0;
  border-radius: 18px;
  @media screen and (max-width: $mobile-max){
    margin: 0 -10px;
    border-radius: 0;
    padding: 0;
    background-image: url('../../../../../../public/img/Chess/create-bg-mobile.svg');
  }
}

.money{
  display: flex;
  justify-content: center;
  img{
    width: 100%;
  }
  @media screen and (max-width: $mobile-max){
    margin: 0 -56px;
  }
}

.opponents{
  font-weight: 700;
  font-size: 25px;
  color: #7a7a80;
  @media screen and (max-width: 470px){
    font-size: 18px;
  }
}

.game{
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin-top: 16px;
  @media screen and (max-width: 470px){
    font-size: 25px;
  }
}

.create{
  padding: 21px 43px;
  margin-top: 44px;
  margin-bottom: 37px;
  font-weight: 600;
  font-size: 16px;
  @media screen and (max-width: $mobile-max){
    padding: 12px 10px;
    margin: 0;
  }
}

.own{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
  @media screen and (max-width: $mobile-max){
    padding: 200px 0;
  }
}

.statistics{
  button{
    padding: 13px;
    color: $white;
    font-weight: 600;
    font-size: 16px;
    @media screen and (max-width: $mobile-max){
      padding: 12px 10px;
    }
  }
}

.btns{
  display: flex;
  background: #1D1E25;
  padding: 11px 19px;
  justify-content: space-between;
}
