@import "scss/index";

.root{
  position: relative;
  background: $dark700;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #303030;
}

.section{
  position: absolute;
  transform-origin: bottom center;
}

.sectionBackground{
  width: 90%;
  height: 90%;
}

.sectionContent{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 20%;
  writing-mode: vertical-lr;
}

.sectionText{
  font-size: 16px;
  color: #fff;
  transform: rotate(180deg);
}

.sectionIcon{
  width: 24px;
  height: 24px;
  margin-bottom: 5%;
}

.cursor{
  width: 60px;
  height: 91px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
