@import "scss/index";

.root {
  position: relative;

  &.menu{

    .dropDownTrigger {
     justify-content: flex-start;
     height: 47px;
     background: $dark600;
     &:hover{
      background: $dark600;
     }
    }
    .dropDown{
      margin-top: 26px;
      &.opened{
        margin-top: 14px;
      }
    }
    .triangle{
      right: auto;
      left: 40px !important;
    }
  }
  &.footer {
    .dropDownTrigger {
      height: 41px;
      padding: 0px 14px;
        text-transform: uppercase;
      background: $dark500;
      &:hover{
        background: $dark600;
      }
      @media screen and (max-width: $xs-max){
        background: $dark700;
      }
    }

    .dropDown{
      margin-top: 0px;
      margin-bottom: 26px;
      &.opened{
      margin-top: 0px;
        margin-bottom: 14px;
        @media screen and (max-width: $xs-max){

        }
      }
    }
    .triangle{
      right: auto;
      left: 40px !important;
      @media screen and (max-width: $xs-max){
        left: auto !important;
        right: 20px !important;
      }
    }
  }
}

.dropDownTrigger {
  height: 41px;
  background: $dark700;
  border-radius: 8px;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  color: $white;

  flex-shrink: 0;
  position: relative;
  width: 100%;
  margin: 0px;
  font-size: 13px;
  align-items: center;
  padding: 0px 14px;
  border-radius: 8px;
  cursor: pointer;

  img {
    margin-right: 10px;
    max-width: 17px;
  }

  &:hover {
    background-color: $dark500;
  }

  .imageLng {
    display: flex;

    img {
      border-radius: 50%;
    }
  }

}


.dropDown {
  @include dropDown();
  display: flex;
}


.option {
  &:first-child {
    .option:first-child {
      &:hover {
        border-top-left-radius: 12px;
      }
    }

    .option:last-child {
      &:hover {
        border-top-right-radius: 12px;
      }
    }
  }

  &:last-child {
    .option:first-child {
      &:hover {
        border-bottom-left-radius: 12px;
      }
    }

  }

}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
  text-transform: uppercase;
  min-height: 40px;
  flex: 0 0 auto;
  font-size: 13px;

  &:hover {
    background: #41424F;
  }

  .name {
    margin: 5px;
  }

  .image {
    margin: 5px;
    display: flex;

    img {
      max-width: 17px;
      border-radius: 50%;
    }
  }

}

.options {
  overflow: hidden;
  border-radius: 12px;
  z-index: 2;
}
