@import "scss/index";

.root{
  display: flex;
  background-color: $dark700;
  padding: 15px 14px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  img{
    margin-right: 10px;
  }
  &:hover{
    background-color: $dark500;
  }
}

.other{
  background-color: $dark700;
  padding: 12px 14px;
  @media screen and (max-width: $xs-max){
    padding: 0px 9px;
    height: 29px;
    img{
      width: 14px;
    }
  }

}


