.root{
  font-size: 14px;
  line-height: 12px;
  letter-spacing: -0.01em;
  color: var(--error);
  margin: 15px 0px;
  text-align: center;
}
.errorListItem{
  margin-top: 8px;
  &:first-of-type{
    margin-top: 0px;
  }
}
