@import "scss/index";

.mobile{
    max-height: 100%;
    min-height: 100%;
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    .iframe{
        flex: 1
    }

}

.error{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  // @include componentRoot;
  flex: 1;
  color: $dark100;
  text-align: center;
  font-size: 18px;
  padding-top: 100px;

}

.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  // @include componentRoot;
  flex: 1;
}
