@import "scss/index";

.form {
  
}

.active{
  @include blueGradient500NoHover;
  color: $white;
}

.selectRoot{
  margin-bottom: 14px;
  margin-top: 12px;
}

.select{
  background: #2D2E38 !important;
}

.btn{
  width: 100%;
  margin-top: 10px;
  color: $white;
  padding: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  img{
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
}

.texts{
  display: flex;
  justify-content: space-between;
}

.textTop{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.amount{
  font-weight: 500;
  font-size: 14px;
  color: $dark200;
}

.limit{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $dark400;
}

.input{
  margin-top: 14px;
  input{
    padding: 14px 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.01em;
  }
}