@import "scss/index";
.root{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 103px;
  @media only screen and (max-width: $xs-max) {
    padding-bottom: 24px;
  }
}
.totalBet{
  margin-top: 20px;
 text-align: center;
  flex-direction: row;
  color: $dark200;
  margin-bottom: 19px;
  .bet{
    margin-left: 4px;
    font-weight: 700;
  }
}
