@import "scss/index";

.root {
  position: relative;
  margin-bottom: 12px;
}

.wrapper {
  position: relative;
  flex-direction: column;
}

.input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 8px;
  background: $dark600;
  border: 0;
  width: 100%;
  padding: 0px 20px;
  height: 53px;
  color: $dark200;
  flex: 1;
  font-weight: 500;

  input {
    height: 51px;
    background: $dark600;
    color: #717384;
    font-weight: 500;
    border: none;
    padding-left: 12px;
    &:-webkit-autofill {
      -webkit-text-fill-color: $dark200 !important;
    }

    &::placeholder {
      font-size: 13px;
      color: $dark200;
    }
  }

  @media screen and (max-width: $sm-min) {
    padding: 0px 15px;
  }

  &.inputFocused {
    input{
    color: $white;
    font-weight: 500;
    }
  }


  &.inputError {
    border: 1px solid #ED4700;

    input{
    color: #ED4700;

    &::placeholder {
      color: #ED4700 !important;
    }
  }
  }

  @media only screen and (max-device-width: 900px) {
    -webkit-appearance: none;
    font-size: 16px;
  }

  :global .PhoneInputCountry{
      margin-right: 0px;
      padding-right: 15px;
      position: relative;
      min-width: 52px;
      &:after{
        content: "";
        position: absolute;
        right: 0px;
        height: 15px;
        width: 1px;
        background: $dark200;
        top: 50%;
        transform: translateY(-50%);
      }
  }
  :global .PhoneInputCountryIcon{
    img{

    }
  }
  
}

.inputWrapper {
  position: relative;
}

.withLabel {
  display: flex;
  align-items: center;
  background: #272832;
  border-radius: 12px;
  height: 70px;

  @media screen and (max-width: $xs-max) {
    height: 50px;
    background-color: $dark700;
  }
}

.label {
  margin-left: 29px;
  font-weight: 500;
  font-size: 16px;
  color: $dark200;

  @media screen and (max-width: $xs-max) {
    font-size: 12px;
    margin-left: 17px;
  }
}
.arrow{
  margin-left: 7px;
}