@import "scss/index";

.root {
  @include componentRoot;

}

.header{

}

.block{
  display: flex;
  align-items: center;
}

.gamepad{
  margin-right: 18px;
  display: flex;
  img{
    background: radial-gradient(50% 50% at 50% 50%, #3058FE 0%, rgba(29, 30, 37, 0.6) 100%);
  }
  @media screen and (max-width: 480px){
    margin-right: 9px;
    img{
      width: 20px;
      height: 20px;
    }
  }
}

.games{
  font-weight: bold;
  font-size: 26px;
  color: $white;
  @media screen and (max-width: 480px){
    font-size: 18px;
  }
}

.all{
  padding: 13px 17px;
  border-radius: 8px;
  background-color: $dark600;
  color: $white;
  font-weight: 500;
  font-size: 12px;
  margin-right: 13px;
  @media screen and (max-width: 500px){
    padding: 8px 12px;
    font-size: $mobile12;
    span{
      display: none;
    }
  }
}

.length{
  @media screen and (min-width: 401px){
    display: none;
  }
  font-weight: 500;
  font-size: 13px;
  color: #45454D;
  margin-right: 10px;
}

.controls{
  display: flex;
  @media screen and (max-width: $xs-max){
    display: none;
  }
}

.next, .prev{
  padding: 15px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark600;
  border-radius: 8px;
  cursor: pointer;
}

.prev{
  margin-right: 5px;
  svg{
    transform: rotate(180deg);
  }
}
.sliderWrapper{

  position: relative;
  padding-right: 0px;
  @media screen and (min-width: 1440px){
    padding-right: 3px;
  }
  @media screen and (min-width: 1280px){
    padding-right: 2.5px;
  }
  @media screen and (min-width: 1024px){
    padding-right: 2px;
  }
}
.slider{
  margin-top: 28px;

  :global{
    .slick-list {
      margin: 0 -11px;
    }
    .slick-slide > div {
      margin: 0px 11px;
    }
  }
  @media screen and (max-width: $xs-max){
    margin-top: 15px;
    margin-right: 0px;
  }
}

.btns{
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn{
  font-weight: 500;
  font-size: 12px;
  color: $white;
  min-width: 80px;
  margin-bottom: 21px;
  padding: 13px 20px;
  @media screen and (max-width: 1360px){
    min-width: auto;
    max-width: 50px;
  }
  @media screen and (max-width: 800px){
    padding: 10px 15px;
  }
  @media screen and (max-width: 550px){
    max-width: 50px;
  }
  @media screen and (max-width: $xs-max){
    padding: 8px 10px;
    font-size: $mobile12;
  }
  @media screen and (max-width: $mobile-max){
    padding: 0;
    height: 7vw;
    width: 12vw;
    margin-bottom: 11px;
    font-size: $mobile10;
  }
  @media screen and (max-width: 360px){
    margin-bottom: 2px;
  }
}

.demo{
  font-weight: 500;
  font-size: 12px;
  color: $white;
  min-width: 80px;
  padding: 13px 25px;
  @media screen and (max-width: 1360px){
    min-width: auto;
    max-width: 50px;
  }
  @media screen and (max-width: 800px){
    padding: 10px 15px;
  }
  @media screen and (max-width: 450px){
    padding: 8px 20px;
  }
  @media screen and (max-width: $xs-max){
    padding: 8px 10px;
  }
  @media screen and (max-width: $mobile-max){
    padding: 0;
    height: 7vw;
    width: 12vw;
    font-size: $mobile10;
  }
}

.favorite{
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
  z-index: 1;
  @media screen and (max-width: $xs-max){
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    padding: 5px;
  }
}

.active{
  visibility: visible;
}

.shade{
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background: rgba(0, 0, 0, .4);
  border-radius: 12px;
  left: 0;
  bottom: 0;
  display: flex;
}

.overflow{
  display:grid;
  grid-auto-flow: column;
  grid-auto-columns:calc((100% - (4 - 1)*8px)/4);
 @include mobileGamesGrid;

 &::-webkit-scrollbar{
  display: none;
 }

 -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;

  padding-top: 14px;
  overflow:auto;
  .slide{
    position: relative;
    display: flex;
    img{
      border-radius: 13px;

      max-width: 100%;
    }
    .label{
      position: absolute;
      left: 5px;
      bottom: 5px;
      right: 0px;
      text-overflow: ellipsis;
      font-style: italic;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $white;
    }
    &:hover{
      .shade{
        visibility: visible;
      }
      .btns{
        visibility: visible;
      }
      .favorite{
        visibility: visible;
      }
    }
  }
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
