@import "scss/index";
$height: 43px;
$heightMobile: 38px;
.root{
  width: 100%;
  position: relative;
  display: flex;
  input{
    height: $height;
    line-height: $height;
    padding-left: 39px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    border-radius: 9px;
    background-color: $dark600;
    border: 0;
    color: $white;

    &::placeholder{
      font-weight: 500;
      font-size: 1rem;
      color: $dark300;
      line-height: $height;
    }
    @media screen and (max-width: $xs-max){
      height: $heightMobile;
      line-height: 41px;
      padding-left: 43px;
      &::placeholder{
        line-height: 41px;
      }
    }
    @media screen and (max-width: $xs-max){
      background: #16171E;
    }
  }
}

.btn{
  position: absolute;
  line-height:  $height;
  height:  $height;
  padding-left: 13px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $xs-max){
    height: $heightMobile;
    line-height: $heightMobile;
    padding-left: 14.7px;
  }
  button{
    padding: 0px;
    background-color: transparent;
  }

}
