@import "scss/index";

.root{
  display: flex;
  min-height: 100%;
  position:relative;
  flex-direction: column;
  padding: 0 20px;
  @media screen and (max-width: $mobile-max) {
    padding: 0 10px;
  }
}
