@import "scss/index";

.root{

}

.option{
  padding: 0px 19px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  line-height: 38px;
  img{
    max-width: 24px;
  }
  &:hover{
    background: #41424F;
  }
}
.select{
  flex: 1;
  height: 53px !important;
}
.current{
  font-weight: 500;
  font-size: 14px;

}

.symbol{
  font-weight: 700;
  font-size: 20px;
  color: #6B6C77;
  margin-right: 19px;
  display: flex;
  align-items: center;
}

.reverse{
  transform: rotate(270deg);
}

.placeholder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  line-height: 100%;
  img{
    max-width: 24px;
  }
}

.group{
  display: flex;
  align-items: center;
}
