@import "scss/index";
.root{
  .choose:nth-child(2){
    margin-top: 20px;
  }

}
.separator{
  margin: 16px 0px;

}

.copied{
  position: absolute;
  bottom: -4px;
  right: 0px;
  font-size: 12px;
  transform: translateY(100%);
  opacity: 1;
  color: $dark100;
  transition: opacity 0.3s ease-in-out;
  &.hidden{
    opacity: 0;
  }

}
.input{
  position: relative;
  padding: 0px 20px 0px 20px;
  height: 46px;

  background: $dark600;
  border-radius: 9px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 14px;
  span{
    color: #2f56fd;
    text-transform: uppercase;
    margin-left: 5px;
  }
}

.choose{
  font-weight: 500;
  font-size: 14px;
  color: $dark200;
  text-align: left;
  @media screen and (max-width: $xs-max){
    font-size: $mobile12;
  }
}



.choose2{
  margin-top: 20px;
  font-weight: 500;
  font-size: 13px;
  color: $dark200;
  text-align: left;
}

.input2{
  position: relative;
  padding: 0px 20px 0px 20px;
  height: 46px;
  background: $dark600;
  border-radius: 9px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 14px;
  justify-content: space-between;
}


.forFill{
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 4px;
  line-height: 100%;
}

.copy{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 46px;
  &:hover{
    .copyIcon {
      path {
        fill: $white;
      }
    }
  }
}



.qrCodeArea{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  .qrCode{
    svg{
      display: block;
    }
    background: white;
    padding: 10px;
    border-radius: 8px;
  }

  @media screen and (max-width: $xs-max){
    margin-top: 20px;
  }
}


.important{
  margin-top: 25px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #a5a5a8;
  @media screen and (max-width: $xs-max){
    margin-top: 12px;
  }
  span{
    color: #2f56fd;
    text-transform: uppercase;
  }
}
