@import "scss/index";

.form {
  @media screen and (max-width: $xs-max) {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }
}

.input {
  &.inputPhone{
    :global .PhoneInput{
    background-color: $dark700;
    }
  }
  input {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    height: 70px;
    @media screen and (max-width: $xs-max) {
      background-color: $dark700;
      font-size: 13px;
      height: 50px;
      padding: 0px 9px;
    }
  }
}

.change {
  display: flex;

  .input {
    flex: 1;
  }
}

.justify {
  justify-content: space-between;
}

.btn {
  padding: 0px;
  height: 70px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  flex-shrink: 0;
  color: $white;

  .btnText {
    margin-right: 10px;

  }

  flex-basis: 204px;
  @media screen and (max-width: $xs-max) {
    padding: 0px;
    height: 50px;

  }
  @media screen and (min-width: $sm-min) {
    img {
      display: none;
    }
    svg{
      display: none;
    }
  }

  &.btnPasswordChange {
    flex-basis: 204px;
    svg{
      path{
        fill: $white;
      }
    }
    @media screen and (max-width: $xs-max) {
      flex-basis: 50px;
      .btnText {
        display: none;
      }
    }
  }
  &.faBtn{

    @media screen and (max-width: $xs-max) {
      flex-basis: auto;
        margin-left: 0px;
    }
  }
}


.save {
  padding: 22px 0;
  height: 70px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  @media screen and (max-width: $xs-max) {
    height: 45px;
    font-size: 13px;
  }
}





.passwordChangeHeader {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  .title {
    font-size: 16px;
  }
  .line {
    width: 4px;
    @include blueGradient500;
    height: 70px;
    border-radius: 12px;
    margin-right: 25px;
    @media screen and (max-width: $xs-max) {
      height: 50px;
    }
  }
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 0px;
  margin-top: 31px;
  @media screen and (max-width: $xs-max) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &.boxesMobile{
    grid-gap: 10px 0px;
    margin-top: 21px;
  }
}
.checkbox{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;

  > div{
    span {
      color: $dark200;
    }
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.fa {
  display: flex;


  @media screen and (max-width: $xs-max) {
    flex-direction: column;
    grid-gap: 12px 0px;

  }
}



.faInput {
  margin-bottom: 0px;
  padding: 26px 29px;
  border-radius: 12px;
  background-color: $dark600;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  flex: 1;
  @media screen and (max-width: $xs-max) {
    background-color: $dark700;
    text-align: center;
    padding: 15px 9px;
  }
}

.red {
  color: #ed4700;
}

.blue {
  color: #427bf8;
}

.fieldError {
  > div > div:first-child {
    border: 1px solid $lose500;
    padding-right: 3px;
    padding-left: 2px;
    border-radius: 12px;
    background: $dark600;
  }

  input {
    border: none !important;
    height: 68px;
    @media screen and (max-width: $xs-max) {
      height: 48px;
    }
  }

}
