@import "scss/index";

.form {
  margin-top: 24px;
  @media screen and (max-width: $xs-max) {
    margin-top: 12px;
  }
}

.socials{

}
.active {
  @include blueGradient500NoHover;
  @media screen and (max-width: 430px) {
    img {
      margin-right: 0;
    }
  }
}

.label {
  font-size: 13px;
  color: $white;
  @media screen and (max-width: 430px) {
    font-size: 12px;
  }
}

.inputs {

}

.phone {
  margin-bottom: 12px;
}

.email {
  margin-bottom: 12px;

  input {
    margin-bottom: 0;
  }
}

.banner{
  margin-top: 16px;
}


.mobile {
  @media screen and (max-width: 430px) {
    display: none;
  }
}

.socials {
  margin-bottom: 14px;
  @media screen and (max-width: $xs-max) {
    margin-bottom: 3px;
  }
}

.select{
  margin-bottom: 12px;
}
