@import "scss/index";
.mines{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 9px;

  @media only screen and (max-width: $xs-max) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    grid-gap: 7px;
  }

}
