@import "scss/index";

.root{
  max-width: 100%;
  border-radius: 18px;
  padding: 0px 0 0px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.catalog{
  padding: 0;
  .item{
    span{
    img{
      height: auto !important;
      min-height: auto !important;
    }
  }
  }
  .dots{
    bottom: 10% !important;
  }
  .controls{
    bottom: 21px;
  }
}

.col{
  width: 50% !important;
  position: relative;
  padding: 0 !important;
  padding-right: 20px !important;
  overflow: hidden;
}

.colCatalog{
  width: 60% !important;
}

.btn{
  button{
    @media screen and (max-width: $xs-max){
      height: 32px;
    }
  }
}

.bonus{
  position: fixed;
  transform: translate(860%, 110%);
  z-index: 10;
  cursor: pointer;
  @media screen and (max-width: $sm-max){
    transform: translate(610%, 110%);
  }
  @media screen and (max-width: 1000px){
    display: none;
  }
}

.timer{
  transform: translate(860%, 80%);
  @media screen and (max-width: $sm-max){
    transform: translate(610%, 80%);
  }
  @media screen and (max-width: 1000px){
    display: block;
  }
}

.controls{
  display: flex;
  position: absolute;
  right: 14px;
  bottom: 14px;
  z-index: 1;
}

.next, .prev{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(7px);
  border-radius: 11px;
  cursor: pointer;
  &:hover{
    background: #0075FF;
    backdrop-filter: blur(7px);
  }
  @media screen and (max-width: 1000px){
    border-radius: 5px;
  }
}

.prev{
  margin-right: 5px;
  svg{
    transform: rotate(180deg);
  }
}

.item{
  display: flex !important;
  max-width: 100%;
  position: relative;
  max-height: 100%;
  padding-bottom: 42%;
}

.label{
  font-weight: bold;
  font-size: 26px;
  color: $white;
  line-height: 100%;
  width: 50%;
  @media screen and (max-width: $xs-max){
    font-size: 20px;
  }
}

.second{
  font-size: calc(18px + 0.5vw);
  @media screen and (max-width: $xs-max){
    font-size: calc(14px + 0.5vw);
  }
}

.btn{
  margin-top: 23px;
  button, a{
    color: $blue500;
    font-weight: 700;
    padding-right: 24px;
    padding-left: 24px;
    height: 100%;
    @media screen and (max-width: 700px){
      padding: 5px 15px;
    }
  }
}

.alt{
  button{
    color: $white;
  }
}

.left{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 28px;
  width: 100%;
}

.dots{
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  width: 100%;
  list-style: none;
  right: 0;
  bottom: 5%;
  left: -25%;
  @media screen and (max-width: 1000px){
    left: -15%;
  }
  :global .slick-active{

    button{
      width: 42px !important;
      height: 2px !important;
      background: linear-gradient(270deg, #2C50FF -6.01%, #4785F6 114.87%) !important;
      &::before{
        opacity: .75 !important;
        color: black !important;
      }
    }
  }
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 2px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    position: relative;
    @media screen and (max-width: 1000px){
      width: 32px;
    }
    button{
      width: 42px;
      height: 2px;
      background: #7a92e9;
      border: none;
      color: transparent;
      text-indent: -9999px;
      margin: 0;
      padding: 0;
      transition: width 0.1s, height 0.1s;
      font-size: 0;
      line-height: 0;
      display: block;
      cursor: pointer;
      outline: none;

      &::before{
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        width: 42px;
        height: 2px;
        content: '•';
        text-align: center;
      }
    }
  }
}

.slider{
  
}