@import "scss/index";

.root{
  border-radius: 18px;
  padding: 20px 0 13px 0;
  position: relative;
  max-height: 250px;
  overflow: hidden;
  min-height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  @media screen and (max-width: 1360px){
    padding-left: 18px;
  }
  @media screen and (max-width: 800px){
    max-height: 200px;
    min-height: 200px;
    padding: 20px 0 9px 15px;
  }
}

.col{
  width: 50% !important;
  position: relative;
}

.bonus{
  position: fixed;
  transform: translate(640%, 70%);
  z-index: 10;
  cursor: pointer;
  @media screen and (max-width: $sm-max){
    transform: translate(440%, 70%);
  }
  @media screen and (max-width: 1000px){
    display: none;
  }
}

.controls{
  display: flex;
  position: absolute;
  right: 14px;
  bottom: 14px;
  z-index: 1;
}

.next, .prev{
  padding: 15px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(7px);
  border-radius: 11px;
  cursor: pointer;
  width: 41px;
  height: 41px;
  &:hover{
    background: #0075FF;
    backdrop-filter: blur(7px);
  }
}

.prev{
  margin-right: 5px;
  svg{
    transform: rotate(180deg);
  }
}

.item{
  display: flex !important;
}

.label{
  font-weight: bold;
  font-size: 36px;
  color: $white;
  line-height: 100%;
  width: 70%;
  @media screen and (max-width: 770px){
    font-size: 26px;
  }
}

.btn{
  margin-top: 23px;
  button{
    color: $blue500;
    @include textStyle14Bold;
    padding-right: 38px;
    padding-left: 38px;
  }
}

.left{
  align-self: center;
  margin-left: 28px;
}

.dots{
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -81px;
  right: 100px;
  width: 100%;
  list-style: none;
  :global .slick-active{

    button{
      width: 42px !important;
      height: 2px !important;
      background: linear-gradient(270deg, #2C50FF -6.01%, #4785F6 114.87%) !important;
      &::before{
        opacity: .75 !important;
        color: black !important;
      }
    }
  }
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 2px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    position: relative;

    button{
      width: 42px;
      height: 2px;
      background: #7a92e9;
      border: none;
      color: transparent;
      text-indent: -9999px;
      margin: 0;
      padding: 0;
      transition: width 0.1s, height 0.1s;
      font-size: 0;
      line-height: 0;
      display: block;
      cursor: pointer;
      outline: none;

      &::before{
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        width: 42px;
        height: 2px;
        content: '•';
        text-align: center;
      }
    }
  }
}