@import "scss/index";

.menu{
  padding: 0px 29px;
  height: 57px;
  border-radius: 10px;
  background: $dark700;
  display: flex;
  align-items: stretch;
  z-index: 4;
  position: relative;

  @media screen and (max-width: 950px){
    border-radius: 0;
    margin: 0 -10px;
    padding: 13px 0 10px 18px;
  }
  @media screen and (max-width: 920px){
    padding: 0 0 0 18px;
    height: auto;
    border-top: 1px solid #272832;
    border-bottom: 1px solid #272832;
    background: #14151B;
  }
  @media screen and (max-width: $xs-max) {
    &.isSticky {
      width: 100% !important;
    }
  }
  &.isMobile{
    position: sticky;
    top: 0px;
  padding: 0px;
  }



}

.logo{
  display: flex;
  align-items: center;
  margin-right: 36px;
  @media screen and (max-width: 920px){
    display: none;
  }
}
.aviatorMenuItem{
  height: 15px;
  margin-top: -5px;
  @media screen and (max-width: $mobile-max){
    height: 14px;
  }
}
.dropDown{
  .aviatorMenuItem{
    margin-top: 0px;
  }
}
