@import "scss/index";
.root{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 103px;
  padding-top: 57px;
  @media only screen and (max-width: $xs-max) {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.board{
  background: url('/img/Games/diamonds/lands@3x.png') no-repeat top center;
  background-size: contain;
  padding-top: 62px;
  max-width: 583px;
  @media only screen and (max-width: $xs-max) {
    width: 100%;
    padding-top: 26px;
  }
}
.diamonds{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 22px;

  @media only screen and (max-width: $xs-max) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
  }

}
