@import "scss/index";

.root{
  position: relative;
 @include componentRoot();
  display: flex;
  @media screen and (max-width: $xs-max){
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom: 0px;
  }
}

