@import "scss/index";
.root{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 0px 12px;
  padding: 0px 20px 0px 0px;
  background: $dark800;
  @media all and (display-mode: fullscreen) {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
.arrow{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.left{
  flex: 1;
}
.balance{
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;
    color: $white;
    .currency{
      color: $dark100;
    }
}


.deposit{
  height: 30px;
  margin-right: 9px;
  padding: 0px 15px;
  color: $white;
  font-size: 10px;
  font-weight: 600;
  @media screen and (max-width: $xs-max){
    font-size: .7rem;
  }
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: $dark600;
}
