@import "scss/index";
.root{
position: relative;
margin-bottom: 15px;
width: 100%;
max-width: 280px;
@media screen and (max-width: 1360px){
  max-width: 100%;
}
}

.dropDown {
  position: absolute;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  max-height: 200px;
  overflow-y: auto;
  //transform: translateY(-20px);
  //transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  .option:first-child{
    a{
    &:hover{
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
  }
  .option:last-child{
    a{
    &:hover{
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  }
  a{
    padding: 17px 21px;
    font-size: 14px;
    font-weight: 500;
    color: $white;
    &:hover{
      background-color: $dark400;
    }
  }
}
.dropDownActive{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    background: $dark500;
    border-radius: 12px;
    .option:first-child{
      &:hover{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
    }
    .option:last-child{
      &:hover{
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
}

.dropDownTrigger {
  padding: 0 17px;
  height: 50px;
  background: $dark600;
  border-radius: 12px;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  color: #000;
  margin-right: 20px;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  margin: 0px;
  font-size: 14px;
  justify-content: center;
}

.symbol{
  font-weight: 600;
  font-size: 14px;
  color: $dark200;
  width: 15%;
}

.currency{
  display: flex;
}

.dots{
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  height: auto;
  position: static;
  .active{
    transform: none;
  }
  .dropDown{
    max-width: 150px;
    right: 0;
    margin-top: 20px;
    a{
      padding: 9px 12px;
    }
  }
}

.newAccount{
  justify-content: center;
  display: flex;
  align-items: center;
  .active{
    transform: none;
  }
}

.subtract{
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.isSelected{
  position: relative;
  padding-left: 6px;
  &:before{
    content: '';
    width: 4px;
    height: 4px;
    background: #27AE60;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0px
  }
}


.dropdownTriggerActive{
  position: relative;
  font-size: 14px;
  color: #000000;
  padding-bottom: 6px;
}

.isActive{
  color: #27AE60;
}

.option{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.textRight{
  text-align: start;
}

.label{
  display: flex;
  align-items: center;
  img{
    margin-right: 12px;
  }
  span{
    font-size: 14px;
    color: #FFFFFF;
  }
  @media screen and (max-width: 400px){
    span{
      font-size: 11px;
    }
  }
}

.active{
  justify-content: space-between;
  align-self: center;
}

.arrow{
  align-self: center;
}
