@import "scss/index";

.root {
  @include componentRoot;
}

.header{

}



.sliderWrapper{

  position: relative;
  padding-right: 0px;
  @media screen and (min-width: 1440px){
    padding-right: 3px;
  }
  @media screen and (min-width: 1280px){
    padding-right: 2.5px;
  }
  @media screen and (min-width: 1024px){
    padding-right: 2px;
  }
}
.slider{
  margin-top: 28px;

  :global{
    .slick-list {
      margin: 0 -11px;
    }
    .slick-slide > div {
      margin: 0px 11px;
    }
  }
  @media screen and (max-width: $xs-max){
    margin-top: 15px;
    margin-right: 0px;
  }
}

.overflow{
  display:grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (4 - 1)*8px)/4);
  @include mobileGamesGrid;

  &::-webkit-scrollbar{
    display: none;
  }

  -ms-overflow-style: none;  /* IE Ð¸ Edge */
  scrollbar-width: none;

  padding-top: 14px;
  overflow:auto;
  &.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > div, > a {
      max-width: calc(33% - 4px );
    }
    grid-auto-columns: unset;
    width: 100%;
  }
}
.providerCardIcon{
  padding: 0px 12px !important;
}
.providerCard{
  font-size: $mobile12;
}
