@import "scss/index";
.layout{
  padding-top: 40px;
  overflow: hidden;
  @media only screen and (max-width: $xs-max) {
    padding-top: 30px;
  }
}
.board{


}

.diceContainer {
  position: relative;
  min-height: 115px;
  @media only screen and (max-width: $xs-max) {
    min-height: 90px;
  }
  .dice {
    transition: position .3s ease-in-out;
    position: absolute;
    bottom: 20px;
    left: calc(50% - (60px / 2));
    width: 52px;
    height: 62px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.exchangeSuffix{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &.arrow{
    cursor: unset;
    path{
      fill: $white;
    }
  }
}
.fields{
  margin-top: 47px;
  display: flex;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: center;
  grid-gap: 16px;
  .subFields{
    display: flex;
    flex-direction: row;
    grid-gap: 0px 16px;
    @media only screen and (max-width: $xs-max) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px 12px;
    }
    .field{
      max-width: 154px;
      @media only screen and (max-width: $xs-max) {
        max-width: unset;
      }
    }
  }
  @media only screen and (max-width: $xs-max) {
    display: block;
    margin-bottom: 0px;
  }

  .fieldChance{
    width: 250px;
    @media only screen and (max-width: $xs-max) {
      margin-bottom: 0px;
    }
  }

}
