@import "scss/index";

.root{
  border-radius: 19px;
  img{
    width: 80px;
    height: 80px;
  }
  @media screen and (max-width: $xs-max){
    img{
      width: 60px;
      height: 60px;
    }
  }
}