@import "scss/index";

.root{
  padding: 13px 14px 30px 14px;
  background: #1D1E25;
  border-radius: 18px;
  margin-top: 20px;
  overflow-y: hidden;
  @media screen and (max-width: 1024px){
  overflow-y: auto;
  overflow-x: hidden;
  }
}

.col{
  width: 25% !important;
  max-width: 25% !important;
  @media screen and (max-width: 1024px){
    position: absolute !important;
    z-index: 1;
    width: 100% !important;
    max-width: 300px !important;
  }
}

.mobile{
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 19px;
  @media screen and (min-width: 1025px){
    display: none;
  }
  @media screen and (max-width: $xs-max) {
    margin-right: 18px;
    margin-left: 18px;
  }
}

.search{
  padding-top: 9px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 11px;
  background: #1D1E25;
  border-radius: 18px;
}

.close{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  img{
  cursor: pointer;
  }
  @media screen and (min-width: 1025px){
    display: none;
  }
}

.none{
  @media screen and (max-width: 1024px){
    display: none;
  }
}

.staticCard{
  padding: 0px 13px;

  display: flex;
  align-items: center;
  border-radius: 9px;
  background-color: $dark600;
  margin-top: 8px;
  justify-content: space-between;
  height: 3.3rem;
  cursor: pointer;
  color: $white;
  @media screen and (max-width: $mobile-max){
    background: #1D1E25;
  }
  &:hover,&.active{
    background-color: $dark500;
    .quantity{
      color: $white;
    }
  }

  .icon{
    display: flex;
    margin-right: 8px;
    max-width: 46px;
  }

  .label{
    font-weight: normal;
    font-size: 1rem;
    @media screen and (max-width: $xs-max){
      font-weight: 400;
      font-size: 13px;
    }
  }

  .left{
    display: flex;
    align-items: center;
  }

  .quantity{
    font-weight: 500;
    font-size: 13px;
    color: $dark300;
  }
}



.categoriesLbl{
  margin-top: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  font-weight: bold;
  font-size: 13px;
  color: $dark300;
}

.providers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
  padding: 0 15px;
  margin-top: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 385px;
}

.categories{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 724px;
}

.filters{
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  div{
    margin-bottom: 0;
  }
  div:last-child{
    margin-right: 0;
  }
}

.filters > div{
  margin-right: 8px;
}
