@import "scss/index";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex: 1;
  // @include componentRoot;

  &.mobile{
    .board{
      display: flex;
      flex-direction: column;
    }
    .iframe{
      flex: 1
    }
  }
}

.board {
  flex: 1;

}


.iframe {
  border: none;

}
.error{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $dark100;
  text-align: center;
  font-size: 18px;
}
