@import "scss/index";

.root {
  border-radius: 16px;
  background: linear-gradient(200.45deg, #2CA4FB 7.83%, #C5048F 94.57%);

  display: flex;
  justify-content: center;
  margin-top: 18px;
  position: relative;
  overflow: hidden;
  padding: 43px 0;
  max-height: 247px;
  height: 25vw;
  @media screen and (min-width: 1476px){
    height: 13vw;
  }
  @media screen and (min-width: 1281px){
    height: 15vw;
  }
  @media screen and (max-width: 1280px){
    height: 20vw;
  }
  @media screen and (max-width: 850px){
    height: 25vw;
  }
  @media screen and (max-width: 685px){
    height: 30vw;
  }
}

.hero{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  img{
    width: auto;
    height: 25vw;
  @media screen and (min-width: 1476px){
    height: 13vw;
  }
  @media screen and (min-width: 1281px){
    height: 15vw;
  }
  @media screen and (max-width: 1280px){
    height: 20vw;
  }
  @media screen and (max-width: 850px){
    height: 25vw;
  }
  @media screen and (max-width: 685px){
    height: 30vw;
  }
  }
}

.hero2{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 3%;
  @media screen and (min-width: $sm-min){
    display: none;
  }
}

.left{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  position: relative;
  z-index: 2;
  justify-content: center;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 3;
  align-items: center;

  margin-right: 10%;
  @media screen and (max-width: 1360px){
    margin-right: 5%;
  }
  @media screen and (max-width: 1280px){
    margin-right: 1%;
}
  @media screen and (max-width: 1024px){
    right: 2%;
}

}

.title{
  font-weight: 700;
  font-size: 4.7vw;
  letter-spacing: 0.275em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.fund{
  display: flex;
  margin-top: 45px;
  @media screen and (max-width: 350px){

  }
}

.prize{
  background-color: rgba(255, 199, 0, 0.4);
  padding: 11px 12px;
  padding-right: 24px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: calc(11px + 0.5vw);
}

.balance{
  background-color: $balance600;
  padding: 11px 16px;
  border-radius: 9px;
  margin-left: -12px;
  font-weight: 500;
  font-size: calc(11px + 0.5vw);
  color: #000;
  display: flex;
  align-items: center;
  @media screen and (max-width: $sm-max){
    padding: 4px 5px;
  }
}

.timer{
  padding: 13px 16px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16.5295px);
}

.end{
  font-weight: 500;
  font-size: 16px;
  color: $white;
  text-align: center;
  margin-bottom: 11px;
 
}

.btn{
  padding: 0px 15px;
  margin-top: 15px;
  height: 46px;
  width: 100%;
  color: $white;
  font-weight: 500;

  @media screen and (max-width: 685px){
    height: 5vw;
  }
}

.btnContainer{
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  
}

.coinsBlur{
  position: absolute;
  left: 0;
  top: 0;
  img{
    width: 100%;
  }
}

.money{
  position: absolute;
  left: 0;
  bottom: -6px;
  img{
    width: 100%;
  }
}

.moneyRight{
  position: absolute;
  right: 0;
  top: 0;
  img{
    width: 100%;
  }
  @media screen and (max-width: 550px){
    display: none;
  }
}

.money2{
  position: absolute;
  right: -22px;
  bottom: -63px;
  img{
    width: 100%;
  }
  @media screen and (min-width: $sm-min){
    display: none;
  }
}

.mobile{
  background: linear-gradient(263.15deg, #2CA4FC 1.61%, #9735B0 101.55%);
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 16px;
  overflow: hidden;
  padding-bottom: 63%;
  .title{
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.2em;
    text-align: center;
  }
  .fund{
    display: block;
    margin-top: 0px;
    .prize{
      display: block;
      padding: 0;
      border-radius: 3px;
      text-align: center;
      span{
        padding: 4px 8px;
        font-size: 10px;
      }
    }
    .balance{
      display: block;
      margin-left: 0;
      border-radius: 3px;
      font-size: 8px;
    }
  }
}

.btnMobile{
 
  height: 45px;
  width: 100%;
  color: $white;
  font-weight: 600;
  font-size: 12px;
  border-radius: 3px;
  @media screen and (max-width: 350px){
    height: 30px;
  }
  &.hidden{
    visibility: hidden;
    opacity: 0px;
  }
}

.leftMobile{
  position: absolute;
  width: 100%;
  left: -25%;
  top: -8%;
}

.rightMobile{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 9px;
  left: 0px;
  right: 0px;
  top: 15px;
  bottom: 15px;
  .title{
    line-height: 100%;
  }
  .fund{
    width: 45%;
  }
  .timerMobile{
    width: 45%;
  }
  .btnMobile{
    width: 45%;
  }
}

.coins{
  position: absolute;
}

.coins2{
  position: absolute;
  top: 20%;
  right: 25%;
}

.moneyMobile{
  position: absolute;
  left: -60px;
  bottom: -50px;
  z-index: 2;
}

.heroMobile{
  z-index: 1;
  width: 80%;
  span{
    position: static !important;
    img{
      position: static !important;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.coin{
  position: absolute;
  top: 0;
}

.cash{
  position: absolute;
  top: 50%;
  right: 20%;
}

.titleWrapper{
  position: relative;
  .title{
    font-weight: 700;
    font-size: 4.7vw;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    top: -1px;
    right: 0;
  }
}

.timerMobile{
 
}