@import "scss/index";

.root {
  border-radius: 67px;
  background-color: $dark600;
  display: flex;

  flex-wrap: nowrap;
  padding: 2px;
  .item:last-child{
    margin-right: 0;
  }
}

.item{
  border-radius: 46px;
  background-color: $dark600;
  display: flex;
  padding: 11px 16px;
  align-items: center;
  margin-right: 13px;
  cursor: pointer;
  img{
    max-width: 14px;
    margin-right: 8px;
  }
  svg{
    fill: #797C86;
    margin-right: 8px;
  }
}

.label{
  font-weight: 500;
  font-size: 14px;
  color: $dark100;
  white-space: nowrap;
  @media screen and (max-width: 414px){
    font-weight: 500;
    font-size: $mobile18;
  }
  @media screen and (max-width: 390px){
    font-weight: 500;
    font-size: 17px;
  }
  @media screen and (max-width: 375px){
    font-weight: 500;
    font-size: 16px;
  }
}

.active{
  border-radius: 46px;
  background-color: $dark400;
  .label{
    color: $white;
  }
  svg{
    fill: $white;
  }
}
