@import "scss/index";

.root{
  @media screen and (max-width: $xs-max){
    .block{
      &:last-child{
          margin-top: 50px;
      }
    }
  }
}
.columnsTop{
  display: flex;
  flex-direction: row;
  > div{
    width: 50%;
  }
  > * + * {
    margin-left: 20px;
    flex: 1;
  }
}
