@import "scss/index";

.root{
  
}

.option{
  padding: 7px 19px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  &:hover{
    background: #41424F;
  }
}

.initial{
  font-weight: 400;
  font-size: 14px;
}

.symbol{
  font-weight: 700;
  font-size: 20px;
  color: #6B6C77;
  margin-right: 19px;
}