@import "scss/index";

.root {

}

.top{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $xs-max){
    margin-top: 7px;
  }
}

.accounts{
  margin-top: 42px;
  display: flex;
  @media screen and (max-width: 600px){
    margin-top: 37px;
    flex-direction: column;
  }
}

.account{
  padding: 9px 21px;
  border-radius: 8px;
  background-color: $dark600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 50px;

}

.mainAccount{
  background-color: #322c29;
  margin-top: 12px;
}

.btc{
  font-weight: 500;
  font-size: 12px;
  color: $dark200;
  text-align: end;
}

.numbers{
  margin-right: 19px;
}

.left{
  display: flex;
  align-items: center;
}

.right{
  display: flex;
  align-items: center;
  .currency{
    color: $dark100;
  }
}

.usdt{
  display: flex;
}

.amount{
  margin-right: 4px;
}

.icon{
  display: flex;
  margin-right: 6px;
  img{
    max-width: 24px;
    max-height: 24px;
  }
}

.currency{

}

.avatar{
  display: flex;
}

.info{
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nickname{
  font-weight: 500;
  font-size: 22px;
  text-align: start;
}

.id{
  font-weight: 500;
  font-size: 13px;
  color: #3c3d46;
  margin-top: 5px;
  text-align: left;
}

.logout{
  display: flex;
  align-items: center;

  button{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 13px;
    padding-left: 15px;
    border: 1px solid #272832;
    color: $white;
    img{
      margin-right: 9px;
    }
    @media screen and (max-width: 600px){
      padding: 11px;
      img{
        margin-right: 0;
      }
      .btnLogoutName{
        display: none;
      }
    }
  }
}


.field{
  width: 100%;
  .title{
    color: #FFC700;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
  }
  &.additional{
    .title{
      color: $white;
    }
    @media screen and (max-width: 600px){
      margin-top: 12px;
    }
  }

}

.left{
  display: flex;
  flex-direction: column;
  grid-gap: 16px 0px;
  margin-right: 14px;

  @media screen and (max-width: 600px){
    margin-right: 0;
  }
}

.bonus{
  width: 100%;
  @media screen and (max-width: 600px){
    border-bottom: 1px solid #272832;
    border-top: 1px solid #272832;
    padding: 32px 0;
    margin-top: 31px;
  }
}

.title{
  font-weight: 500;
  font-size: 14px;
  text-align: start;
  margin-bottom: 12px;
  @media screen and (max-width: 600px){
    margin-bottom: 10px;
  }
}

.actions{
  display: flex;
  align-items: center;
  grid-gap: 16px;
  width: 100%;
  @media screen and (max-width: 600px){
    flex-direction: column-reverse;
    grid-gap: 0px;
  }
}
.notGreen{
  display: flex;
  grid-gap: 0px 7px;
  @media screen and (max-width: 600px){
    margin-top: 16px;
    grid-gap: 0px 14px;
    width: 100%;
  }
}


.btn{
  padding: 0px 18px;
  height: 56px;

  background: #24252E;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  &:hover{
    background-color: $dark500;
  }
  @media screen and (max-width: 600px){
    flex: 1;
  }
}

.wallet{
  flex: 1;
  height: 56px;

  padding: 0px 21px;
  img{
    width: 16px;
    margin-right: 6px;
  }
  color: $white;
  font-weight: 500;
  font-size: 16px;
  @media screen and (max-width: 600px){
    flex: unset;
    width: 100%;
  }
}



.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
  gap: 8px;
  @media screen and (max-width: 600px){
    grid-template-columns: 1fr;
    margin-top: 32px;
  }
}

.drop{
  display: flex;
}

