@import "scss/index";

.root{
  cursor: pointer;
}



.dropDown{
  font-size: 12px;
  @include dropDown();
  width: 50%;
  padding: 10px;
  white-space: pre-line;
  @media screen and (max-width: $xs-max){
    width: calc(100vw - 36px);
  }
}

.triangle{
  right: 4px !important;
}

.inner{
  display: flex;
}
