@import "scss/index";

.root{
  margin-top: 28px;
  @media screen and (max-width: $xs-max){
    margin: 24px -10px 0;
  }
  position: relative;
}

.desktop{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 21px;
}

.slider{
  position: relative;
}

.bonus{
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;

  @media screen and (max-width: $sm-min){
    position: absolute;
    right: 0px;
    z-index: 1;
    overflow: hidden;
  }

}

.col{
overflow: hidden;
}

.label{
  font-weight: bold;
  color: $white;
  line-height: 100%;
  width: 70%;
}

.otherLabel{
  font-weight: 700;
  font-size: 26px;
}

.btn{
  margin-top: 23px;
  button, a{
    color: $blue500;
    padding-right: 38px;
    padding-left: 38px;
    font-weight: bold;
    @media screen and (max-width: $xs-max){
      padding-right: 35px;
      padding-left: 35px;
      border-radius: 4px;
      height: 100%;
    }
    @media screen and (max-width: 700px){
      padding: 5px 35px;
    }
    @media screen and (max-width: 600px){
      padding: 5px 20px;
    }
    @media screen and (max-width: $mobile-max){
      padding: 11px 38px;
    }
    @media screen and (max-width: $mobile-large){
      padding: 10px 36px;
    }
    @media screen and (max-width: $mobile-md2){
      padding: 10px 34px;
    }
    @media screen and (max-width: $mobile-md){
      padding: 10px 33px;
    }
  }
}

.alt{
  button{
    color: $white;
  }
}

.left{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rootSlide{
  padding: 0px 5px;
}
.item{
  display: flex !important;
  border-radius: 18px;
  max-width: 100%;
  position: relative;
  max-height: 100%;
  padding-bottom: 52%;
  overflow: hidden;
  img{
    object-fit: cover;
  }
  @media screen and (max-width: $mobile-max){
    padding-bottom: 59.04%;
  }
}

.dots{
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25%;
  width: 100%;
  list-style: none;
  z-index: 1;
  :global .slick-active{

    button{
      width: 7px !important;
      height: 7px !important;
      background: $balance500 !important;
      &::before{
        opacity: .75 !important;
        color: black !important;
      }
    }
  }
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    position: relative;

    button{
      width: 7px;
      height: 7px;
      background: $dark700;
      border-radius: 50%;
      border: none;
      color: transparent;
      text-indent: -9999px;
      margin: 0;
      padding: 0;
      transition: width 0.1s, height 0.1s;
      font-size: 0;
      line-height: 0;
      display: block;
      cursor: pointer;
      outline: none;

      &::before{
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
      }
    }
  }
}
.bonusSlideMobile{

}

.spin{
  color: #fef494;
}

.lottery{
  color: #4148e7;
}

.itemLabel{
  @media screen and (max-width: 520px){
    font-size: calc(14px + 0.5vw);
    font-weight: 700;
  }
}
