@import "scss/index";

.scroll{
  margin-top: 27px;
  margin-bottom: 20px;
}
.root{

  display: flex;
  grid-gap: 0px 8px;
  flex-direction: row;
}
.item{
  text-align: center;
  border: 3px solid $dark600;
  background: $dark600;
  font-size: 14px;
  padding: 0px 10px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 34px;

  .separator{
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin: 0px 3px;
    background: $dark400;
  }
  .multiplier{
    color: $dark200;
  }
  .number{
    color: $dark400;
  }
  &.active{
     border-color: #427BF8;
    .number{
      color: $dark100;
    }
    .multiplier{
      color: $grey500;
    }
    .separator{
      background: $dark100;
    }
  }
}
