@import "scss/index";
.root{
  text-align: center;
  width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  margin: 0px -5px 0px -5px;
}
.btn{
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  text-decoration: none;
  margin: 0px 5px 9px 5px;
  img{
    width: 43px;
    height: 43px;
    @media screen and (max-width: 430px){
      width: 48px;
      height: 48px;
    }
  }
}
