@import "scss/index";

.wrapper {
  display: flex;
  justify-content: center;
  }

  .root{
    background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16.5295px);
  padding: 4px;
  border-radius: 6px;
  position: relative;
  }

.rootNormal{
  .input{
    width: 30px;
    height: 28px;
    font-size: 20px;
  }
  .visibleSep{
    margin-top: 10px;
  }
  padding: 10px;
}

.rootSmall{
  .input{
    width: 28px;
    height: 26px;
    font-size: 20px;
  }
  padding: 3px;
}

.rootLarge{

}

.input{
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $dark800;
  padding: 0 5px;
  font-size: 16px;
  width: 24px;
  height: 22px;
}

.circle{
  border-radius: 100%;
  background-color: $white;
  width: 4px;
  height: 4px;
}

.separator{ 
  .circle:first-child{
  margin-bottom: 4px;
}
}

.separator{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  margin: 0 2px;
}

.visibleSep{
  display: flex !important;
  justify-content: flex-start;
  margin-top: 5px;
}