@import "../../../../../../../scss/index";
.root{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 32px 0px;
}
.circle{
  opacity: 0.2;
  background: $dark100;
  transition: opacity .5s ease-in-out;
  &.active{
    opacity: 1;
  }
}
