@import "scss/index";

.longDown{
    max-width: 95%;
    height: auto !important;
    min-height: auto !important;
    @media screen and (max-width: 1280px){
        max-width: 100%;
      }
    position: fixed !important;
    bottom: 0;
    margin: 0 auto;
    width: 95%;
    right: 0;
    left: 0;
    z-index: $zIndexBonusFooter;
    @media screen and (max-width: $xs-max){
        bottom: 40px;
    }
    @media screen and (max-width: $mobile-max){
      width: 100%;
  }
}

.bonus{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1;
  cursor: pointer;

  @media screen and (max-width: $sm-min){
    position: fixed;
    right: 0px;
    z-index: 1;
    overflow: hidden;
  }

}
