@import "scss/index";

.root{
  background: linear-gradient(46.89deg, #4A16E4 2.09%, #933288 11.47%, #C1444E 32.44%, #FF5C00 108.03%);
  padding: 4px 0 11px 0;
  padding-left: 75px;
  position: relative;
  max-height: 79px;
  overflow: hidden;
  border-radius: 18px;
  .moneyWallet, .moneyWallet2, .moneyBlurWallet{
    display: none;
  }
}

.close{
  position: absolute;
  cursor: pointer;
  right: 15px;
  display: flex;
  z-index: 11;
}

.wallet{
  padding-left: 85px;
  @media screen and (max-width: $xs-max){
    padding-left: 25px;
  }
  @media screen and (max-width: 375px){
    padding-left: 35px;
  }
  .money, .money2, .hero{
    @media screen and (max-width: $xs-max){
      display: none;
    }
  }
  .moneyWallet{
    display: block;
    position: absolute;
    top: 30%;
    right: -2%;
    @media screen and (max-width: 375px){
      right: -7%;
    }
  }
  .moneyWallet2{
    display: block;
    position: absolute;
    left: -6%;
    top: 15%;
    @media screen and (max-width: 375px){
      left: -12%;
    }
  }
  .moneyBlurWallet{
    display: block;
    position: absolute;
    right: 8%;
    top: 0;
  }
}

.footer{
  border-radius: 18px 18px 0px 0px;
  padding: 5px 32px 30px 70px;
  max-height: 140px;
  .hero {
    left: 0px;
  }
  .bottom{
    flex-direction: column-reverse;
  }
  .money2{
    bottom: 10px;
    @media screen and (max-width: $xs-max){
      left: -38px;
      bottom: 7px !important;
    }
  }
  @media screen and (max-width: $xs-max){
    max-height: initial;
    padding-bottom: 50px;
    .content{
      margin-bottom: -5px;
    }
  }
}

.title{
  font-weight: bold;
  font-size: 16px;
  position: relative;
  z-index: 2;
  color: #AAFF55;
  text-align: left;
}

.bottom{
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  align-items: center;
  position: relative;
}
.left{
  flex: 1;
}
.satoshi{
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  @media screen and (max-width: 375px){
    font-size: 11px;
  }
}

.hero{
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
}

.money{
  right: -20px;
  bottom: -35px;
  position: absolute;
  @media screen and (max-width: $xs-max){
    left: 0;
    right: auto;
    bottom: 0;
  }
}

.money2{
  position: absolute;
  bottom: -24px;
  left: -22px;
  @media screen and (max-width: $xs-max){
    left: auto;
    right: -10px;
    bottom: -40px;
  }
}