@import "scss/index";

.root{
  margin-bottom: 12px;
  color: $white;
  font-size: 14px;

  &.hasError{
    .label {
      color: #F15151;
    }
    .dropDown{
      border-color: #F15151;
    }
    .dropDownTrigger{
      border-color: #F15151;
  }
  }
}

.label{
  font-size: 14px;

  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

}

.input{
  position: relative;
}
.dropDown {
  position: absolute;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  max-height: 200px;
  overflow-y: auto;
  //transform: translateY(-20px);
  //transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  .option:first-child{
    a{
    &:hover{
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
  }
  .option:last-child{
    a{
    &:hover{
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  }
  a{
    padding: 17px 21px;
    font-size: 14px;
    font-weight: 500;
    color: $white;
    &:hover{
      background-color: $dark400;
    }
  }
}
.dropDownActive{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    background: $dark500;
    border-radius: 12px;
    .option:first-child{
      &:hover{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
    }
    .option:last-child{
      &:hover{
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
}

.reverse{
  transform: rotate(180deg);
}

.dropDownTrigger {
  background-color: $dark700;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #272832;
  border-radius: 8px;
  position: relative;
  justify-content: space-between;
  cursor: pointer;

  .placeholder{
    padding-right: 10px;
  }

  img{
    margin: auto 0;
  }
  display: flex;
}

.option{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: left;
  padding: 12px 18px;
  &.optionActive{
    font-weight: 600;
  }
  &:hover{
    background: rgba(206, 187, 170, 0.2);
  }
}