@import "scss/index";

.root{}

.gameCards{
    margin-top: 18px;
    @media screen and (max-width: 850px){
        display:  block !important;
    }
}

.gameCard{
    @media screen and (max-width: 850px){
        flex-basis: auto !important;
    }
}

.gamesLists{
    @media screen and (max-width: 800px){
        display:  block !important;
    } 
}

.longDown{
    position: fixed;
    bottom: 0;
    display: none;
}

