@import "scss/index";
.root{
  display: flex;
  flex-direction: column;
  grid-gap: 20px 0px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #272832;
  margin: 0;
  padding: 10px $space-modal-mobile;
  z-index: 30;
  top: 0px;
  left: 0px;
  right: 0px;
  background: $dark800;
}

.logo{
  max-width: 59px;
  margin-right: 22px;
}

.balance{
  background: rgba(255, 209, 47, 0.05);
  border-radius: 6px;
  padding: 4px 7px;
  .amount{
    font-weight: 500;
    font-size: 12px;
    margin-top: 3px;
  }
  .label{
    color: #FFD12F;
    text-transform: uppercase;
    font-size: 7px;
  }
}



.deposit{
  padding: 11px 9px;
  margin-right: 9px;
  img{
    margin-right: 6px;
  }
  color: $white;
  font-size: 10px;
}
.footer{
  display: flex;
  flex-direction: column;
  grid-gap: 16px 0px;
  padding: 0px $space-modal-mobile;
  padding-bottom: 10px;
}
.backArea{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 0px 17px;
}
.arrow{

}

.backTitle{
  font-size: 14px;
  color: #87888C;
}
.title{
  font-size: 22px;
  color: $white;
  font-weight: 600;
}

.left{
  display: flex;
}

.right{
  display: flex;
}

.logoMobile{
  align-self: center;
  @media screen and (min-width: 921px){
    display: none;
  }
  @media screen and (max-width: $xs-max){
    display: flex;
    align-self: center;
    svg{
      width: 80px;
    }
  }
  @media screen and (max-width: $mobile-max){
    svg{
      height: 30px;
    }
  }
}

.userBtns{
  display: flex;
  height: 41px;
  margin-right: 8px;
  grid-gap: 8px;
  @media screen and (max-width: $xs-max){
    height: 40px;
    grid-gap: 6px;
    margin-right: 0;
    align-items: center;
  }
}

.wallet{
  padding: 12px 15px;
  @media screen and (max-width: $mobile-max){
    padding: 9px 4px;
    font-weight: 700;
    font-size: 0.7rem;
    height: 40px;
  }
  img{
    width: 16px;
    margin-right: 12px;
  }
  color: $white;
  font-weight: 700;
  font-size: 13px;
  width: 100%;
}