@import "scss/index";
.root {
  position: relative;
  background: linear-gradient(0deg, #1D1E25, #1D1E25);
  border-radius: 30px;
  padding: 28px 28px 23px 28px;
  z-index: 5;
  margin:  auto;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: $xs-max){
    width: 100% !important;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #14151b;
  }
  @media screen and (max-width: 430px){
    border-radius: 0;
    padding-top: 14px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 23px;
  }
}

.rootNormal{
  width: 610px;
}

.rootSmall{
  width: 428px;
}

.rootLarge{
  width: 664px;
}

.balance{
  background: rgba(255, 209, 47, 0.05);
  border-radius: 6px;
  padding: 4px 7px;
  .text{
    color: #FFD12F;
    text-transform: uppercase;
    font-size: 7px;
  }
}

.money{
  font-weight: 600;
  font-size: 12px;
  margin-top: 3px;
}

.wallet{
  padding: 11px 9px;
  img{
    margin-right: 6px;
  }
  color: $white;
}

.close {
  cursor: pointer;
  background: $dark600;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  svg{
    path{
      fill: #6B6C77;
    }
  }
  @media screen and (max-width: $xs-max){
    background: #1D1E25;
    svg{
      path{
        fill: $white;
      }
    }
  }
  &:hover{
    background-color: $dark500;
    @media screen and (max-width: 430px){
      background-color: transparent;
    }
  }
}

.logo{
  width: 59px;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #272832;
  margin: 0 -28px;
  padding-left: 28px;
  padding-right: 28px;
}

.noBorder{
  border-bottom: 0;
}

.left{
  display: flex;
  align-items: center;
}

.right{
  display: flex;
  align-items: center;
}

.back{
  display: flex;
  margin-right: 12px;
  cursor: pointer;
}

.mobileBack{
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.id{
  margin-right: 11px;
  font-weight: 500;
  font-size: 13px;
  color: #3c3d46;
}

.arrow{
  display: flex;
  margin-right: 17px;
}

.wrap{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toProfile{
  font-size: 13px;
  color: #87888C;
}

.title {
  font-weight: 600;
  font-size: 22px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: $xs-max){
    margin-top: 18px;
  }
}

.walletBackTitle{
  background-color: $dark700;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding: 0 15px;
  padding-top: 11px;
}

.walletBackCenter{
  @media screen and (max-width: $xs-max){
  background-color: $dark700;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0 15px;
  padding-bottom: 16px;
  }
}

.loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.center, .body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
}

.frame{
  overflow-y: scroll;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 3;
  @media screen and (max-width: 430px){
    padding-bottom: 0;
  }
}
.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.scroll{
}

.centerSheet{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
  padding: 0px 18px 18px 18px;
}
