.root{
  position: relative;
}
.inputContainer{
  position: relative;
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  width: 100%;
  height: 51px;
  padding: 0 16px 0 16px;
  display: flex;
  align-items: center;
}
.inputError{
  border-color: #C60D0D;
  label{
    color: #C60D0D;
  }
}
.input{
  flex:1;
  border: none;
  border-left: 1px solid #C4C4C4;
  line-height: 49px;
  background: none;
  padding-left: 12px;
  font-size: 18px;
  &::placeholder{
    font-size: 18px;
    color: #828282;
  }
}
.inputLabel{
  position: absolute;
  padding: 0 5px;
  background-color: #fff;
  font-size: 15px;
  color: #828282;
  top: -8px;
  left: 15px;
}

.country{
  padding-right: 10px;
}

.error{
  color: #FF1066;
  font-size: 12px;
  margin-bottom: 10px;
}
