@import "scss/index";

.root{
  section{
    @media screen and (min-width: $sm-min){
      display: none;
    }
  }
}

.table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    tbody{
      display: block;
      width: 100%;
      overflow: auto;
      max-height: 250px;
      tr{
        display: flex;
        background-color: $dark600;
        padding: 22px 0;
        padding-left: 16px;
        padding-right: 21px;
        border-radius: 8px;
        align-items: center;
        justify-content: space-between;
        &:nth-child(2n){
            background-color: transparent;
        }
        td{
            width: 20%;
            display: flex;
            align-items: center;
            &:last-child{
              justify-content: flex-end;
            }
            @media screen and (max-width: 1400px){
              &:nth-child(2){
                justify-content: center;
              }
              &:nth-child(3){
                justify-content: center;
              }
            }
        }
      }
    }
    thead tr {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 21px;
        th{
          font-weight: 500;
          font-size: 14px;
          color: $dark200;
          width: 20%;
          text-align: left;
          &:nth-child(4){
              padding-left: 30px;
          }
          &:last-child{
              text-align: right;
          }
          @media screen and (max-width: 1400px){
            &:nth-child(3){
              text-align: center;
            }
            &:nth-child(4){
              text-align: center;
            }
          }
        }
      }
      @media screen and (max-width: $xs-max){
        display: none;
      }
}

.games{
  thead tr{
    padding-bottom: 16px;
    th{
      width: 25%;
      @media screen and (max-width: 1400px){
        &:nth-child(2){
          text-align: center;
        }
        &:nth-child(3){
          text-align: center;
        }
      }
    }
  }
  tbody{
    tr{
      padding: 16px;
      margin-bottom: 16px;
      &:nth-child(2n){
        background-color: $dark600;
      }
      td{
        width: 25%;
        @media screen and (max-width: 1400px){
          &:nth-child(2){
            justify-content: center;
          }
          &:nth-child(3){
            justify-content: center;
          }
        }
      }
    }
  }
}
.users{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vs{
  color: #52535b;
  align-self: center;
  margin: 0 8px;
}






  .item{
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 16px;
    background-color: $dark600;
    font-size: 14px;
    font-weight: 600;
    @media screen and (max-width: 360px){
      font-size: 12px;
    }
    @media screen and (max-width: 330px){
      font-size: 11px;
    }
  }

  .top{
    padding: 8px;
  }

  .bottom{
    border-radius: 14px;
    background-color: $dark500;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left{
    display: flex;
    align-items: center;
  }

  .begin{
    margin-right: 20px;
  }

  .time{
    display: flex;
    align-items: center;
    margin-right: 30px;
    @media screen and (max-width: $mobile-md){
      margin-right: 20px;
    }
  }

  .mult{
    display: flex;
    align-items: center;
  }

  .money{
    display: flex;
    align-items: center;
  }

  .date{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: $dark200;
    margin: 16px 0;
  }
