@import "scss/index";

.root{
  width: 100%;
  margin-top: 0px;
}

.placeholder{
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .label {
      color: $white;
    }
  }
}

.newAccount{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  .active{
    transform: none;
  }
}

.subtract{
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.label{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #737683;
}

.active{
  justify-content: space-between;
  align-self: center;
}

.arrow{
  align-self: center;
  margin-left: 8px;
}

.option{
  padding: 7px 19px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  img{
    max-width: 24px;
    margin-right: 19px;
  }
  span{
    font-weight: 600;
    font-size: 14px;
    color: $dark200;
    margin-right: 14px;
  }
  &:hover{
    background: #41424F;
  }
}
.select{
  background: $dark600;
  border-radius: 8px;
  max-width: 100% !important;
  .dropDownTrigger{
    display: block;
  }

}

.select{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 0px !important;
  .active{
    transform: none;
  }
}


.dropDown{
  margin-top: 10px !important;
}
