@import "scss/index";

.root{
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  z-index: -1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);

  &.active{
    opacity: 1;
    visibility: visible;
    z-index: 99999999;
  }

  &.error{
    background: $lose500;
  }

  &.success{
    background: $pay500;
  }
}
