@import "scss/index";

.root {
  @include componentRoot;
  padding-top: 23px;
}

.none{
  display: none;
}

.wrapper{
  display: flex;
  margin-top: 18px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.list{
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  @media screen and (max-width: 620px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (max-width: 520px){
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: $mobile-max){
    margin-top: 14px;
    padding-left: 0px;
    grid-gap: 8px;
    > div {
      display: flex;
      margin-bottom: 0px;
      img {
        width: auto;
        max-width: 100%;
      }
    }

  }
}

.more{
  display: flex;
  padding: 21px 0;
  border-radius: 12px;
  background-color: $dark600;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  @media screen and (max-width: $xs-max){
    padding: 11px 0;
    font-weight: 500;
    margin-top: 14px;
  }
}

.icon{
  margin-right: 12px;
}
