@import "scss/index";

.root {
  @include componentRoot;
  padding-top: 23px;
}

.none{
  display: none;
}

.wrapper{
  display: flex;
  margin-top: 18px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.list{
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  @media screen and (max-width: 620px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (max-width: 520px){
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: $mobile-max){
    margin-top: 14px;
    padding-left: 0px;
    grid-gap: 8px;
    > div {
      display: flex;
      margin-bottom: 0px;
      img {
        width: auto;
        max-width: 100%;
      }
    }

  }
}

