@import "scss/index";

.root {
  @include componentRoot;
  padding-top: 23px;
}

.none{
  display: none;
}

.wrapper{
  display: flex;
  margin-top: 18px;
  @media screen and (max-width: $xs-max){
    display: none;
  }
}

.btn{
  font-weight: 500;
  font-size: 12px;
  color: $white;
  min-width: 80px;
  margin-bottom: 21px;
  padding: 13px 20px;
  @media screen and (max-width: 1360px){
    min-width: auto;
    margin-bottom: 11px;
    max-width: 50px;
  }
  @media screen and (max-width: 800px){
    max-width: 100%;
  }
  @media screen and (max-width: 550px){
    max-width: 50px;
  }
  @media screen and (max-width: 450px){
    max-width: 30px;
    padding: 8px 20px;
    font-size: 8px;
  }
  @media screen and (max-width: $xs-max){
    padding: 8px 10px;
  }
}

.item{
  position: relative;
  min-width: 78px;
  min-height: 78px;
  display: flex;
  @media screen and (max-width: 1100px){
    max-width: 165px;
    max-height: 165px;
  }
  &:hover{
    .shade{
      visibility: visible;
    }
    .btns{
      visibility: visible;
    }
    .favorite{
      visibility: visible;
    }
  }
  img{
    width: 100%;
    border-radius: 18px;
    @media screen and (max-width: $xs-max){
      border-radius: 10px;
    }
    @media screen and (max-width: $xs-max){
      width: 100%;
    }
  }
}

.item{
  position: relative;
  display: flex;
  &:hover{
    .shade{
      visibility: visible;
    }
    .btns{
      visibility: visible;
    }
    .favorite{
      visibility: visible;
    }
  }
    img{
      width: 100%;
      border-radius: 18px;
    }
}

.shade{
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.4;
  border-radius: 12px;
}

.btns{
  position: absolute;
  visibility: hidden;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn{
  font-weight: 500;
  font-size: 12px;
  color: $white;
  min-width: 80px;
  margin-bottom: 21px;
  padding: 13px 20px;
  @media screen and (max-width: 1360px){
    min-width: auto;
    margin-bottom: 11px;
    max-width: 50px;
  }
  @media screen and (max-width: 1000px){
    padding: 0;
    height: 4vw;
    width: 12vw;
  }
  @media screen and (max-width: 800px){
    padding: 13px 25px;
    height: auto;
    width: auto;
  }
  @media screen and (max-width: 500px){
    padding: 0;
    height: 7vw;
    width: 12vw;
  }
}

.demo{
  font-weight: 500;
  font-size: 12px;
  color: $white;
  min-width: 80px;
  margin-bottom: 21px;
  padding: 13px 25px;
  @media screen and (max-width: 1360px){
    min-width: auto;
    margin-bottom: 11px;
    max-width: 50px;
  }
  @media screen and (max-width: 1000px){
    padding: 0;
    height: 4vw;
    width: 12vw;
    margin-bottom: 0;
  }
  @media screen and (max-width: 800px){
    padding: 13px 25px;
    height: auto;
    width: auto;
  }
  @media screen and (max-width: 500px){
    padding: 0;
    height: 7vw;
    width: 12vw;
  }
}

.favorite{
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
  z-index: 1;
  @media screen and (max-width: 1360px){
    right: 5px;
    top: 5px;
  }
  @media screen and (max-width: 920px){
    width: 18px;
    height: 18px;
  }
  @media screen and (max-width: 800px){
    width: 28px;
    height: 28px;
  }
  @media screen and (max-width: $mobile-max){
    right: 6px;
    top: 6px;
    width: 20px;
    height: 20px;
    padding: 5px;
  }
}

.active{
  visibility: visible;
}


.list{
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  @media screen and (max-width: $xs-max){
    margin-top: 14px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    > div {
      display: flex;
      margin-bottom: 0px;
      img {
        width: auto;
        max-width: 100%;
      }
    }

  }
}

.more{
  display: flex;
  padding: 21px 0;
  border-radius: 12px;
  background-color: $dark600;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  @media screen and (max-width: $xs-max){
    padding: 11px 0;
    font-weight: 500;
    margin-top: 14px;
  }
}

.icon{
  margin-right: 12px;
}
