@import "scss/index";
.root{
  width: 100%;
  padding: 1.8% 30%;
}
.wrapper{
  position: relative;
}
.background{
position: relative;
  display: flex;
  img{
    width: 100%;
  }
}
.card{
  position: absolute;
  top: -6.5%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 23%;
  img {
    width: 100%;
  }
}
