@import "scss/index";
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 0px 20px;
}
.rootJack{
  overflow: hidden;
  margin-top: 28px;
  @media screen and (max-width: $mobile-max){
    padding: 0 5px;
    margin-top: 0;
  }
}

.rootSlide{
  padding: 0px 5px;
}

.jackpot{
  background-image: url('../../../../public/img/TopSlider/bg.svg');
  background-repeat: no-repeat;
  border-radius: 18px;
  background-size: cover;
  position: relative;
  padding-bottom: 42%;
  height: 96%;
  @media screen and (max-width: $mobile-max){
    padding-bottom: 59.04%;
  }
}

.title{
  font-weight: bold;
  background: linear-gradient(#fff 0%, #3EAEDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF7F7;
  display: flex;
  justify-content: center;
}

.money{
  font-weight: 800;
  display: flex;
  justify-content: center;
}


.slider{
  margin-top: 20px;
  @media screen and (min-width: 651px){
    display: none !important;
  }
  @media screen and (max-width: $sm-min){
    margin: 24px -10px 0px -10px;

  }
}

.desktop{
  margin-top: 20px;
  overflow: hidden;
}
.bonusSlideMobile{

}

.btn{
  margin-top: 23px;
  button, a{
    color: $blue500;
    padding-right: 38px;
    padding-left: 38px;
    font-weight: bold;
    @media screen and (max-width: $xs-max){
      padding-right: 35px;
      padding-left: 35px;
      border-radius: 4px;
      height: 100%;
    }
    @media screen and (max-width: 700px){
      padding: 5px 35px;
    }
    @media screen and (max-width: 600px){
      padding: 5px 20px;
    }
    @media screen and (max-width: $mobile-max){
      padding: 11px 38px;
    }
    @media screen and (max-width: $mobile-large){
      padding: 10px 36px;
    }
    @media screen and (max-width: $mobile-md2){
      padding: 10px 34px;
    }
    @media screen and (max-width: $mobile-md){
      padding: 10px 33px;
    }
  }
}

.alt{
  button{
    color: $white;
  }
}

.left{
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item{
  display: flex !important;
  border-radius: 18px;
  max-width: 100%;
  position: relative;
  max-height: 100%;
  padding-bottom: 52%;
  overflow: hidden;
  img{
    object-fit: cover;
  }
  @media screen and (max-width: $mobile-max){
    padding-bottom: 59.04%;
  }
}

.itemLabel, .best{
  @media screen and (max-width: 520px){
    font-size: calc(14px + 0.5vw);
    font-weight: 700;
  }
}

.label{
  font-weight: bold;
  color: $white;
  line-height: 100%;
  width: 70%;
}

.spin{
  color: #fef494;
}

.lottery{
  color: #4148e7;
}

.content{
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  @media screen and (max-width: $mobile-max){
    top: 25%;
  }
}
