@import "scss/index";

.root{
  margin-top: 20px;
  padding-right: 0 !important;
  flex-basis: auto !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  width: 40% !important;
  @media screen and (max-width: 650px){
    display: none !important;
  }
}

.jackpot{
  background-image: url('../../../../public/img/TopSlider/bg.svg');
  background-repeat: no-repeat;
  min-height: 250px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  background-size: cover;
  padding: 0 33px;
  width: auto !important;
  @media screen and (max-width: 800px){
    max-height: 14.5rem;
    min-height: 14.5rem;
    padding: 15px 0 9px 15px;
  }
  @media screen and (max-width: $xs-max){
    max-height: 12rem;
    min-height: 12rem;
    padding: 15px 0 9px 15px;
    margin: 0px 4px;
  }
  @media screen and (max-width: $mobile-max){
    max-height: 10rem;
    min-height: 10rem;
    .timer{
      display: none;
    }
  }
}

.title{
  font-weight: bold;
  font-size: 41px;
  background: linear-gradient(#fff 0%, #3EAEDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF7F7;
}

.money{
  font-weight: 800;
  font-size: 60px;
  @media screen and (max-width: 1360px){
    font-size: 40px;
  }
  @media screen and (max-width: $xs-max){
    font-size: 30px;
  }
}


.slider{
  margin-top: 20px;
  @media screen and (min-width: 651px){
    display: none !important;
  }
  @media screen and (max-width: $sm-min){
    margin: 24px -10px 0px -10px;

  }
}

.desktop{
  margin-top: 20px;
}
.bonusSlideMobile{
  margin: 0px 4px;
}

.btn{
  margin-top: 23px;
  button{
    color: $blue500;
    @include textStyle14Bold;
    padding-right: 38px;
    padding-left: 38px;
  }
}

.left{
  align-self: center;
  margin-left: 28px;
}

.item{
  display: flex !important;
  border-radius: 18px;
  padding: 20px 0 13px 0;
  position: relative;
  max-height: 18rem;
  overflow: hidden;
  min-height: 18rem;
  background-position: center center;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 1360px){
    padding-left: 18px;
  }
  @media screen and (max-width: 800px){
    max-height: 14.5rem;
    min-height: 14.5rem;
    padding: 20px 0 9px 15px;
  }
  @media screen and (max-width: $xs-max){
    width: auto;
    max-height: 12rem;
    min-height: 12rem;
  }
  @media screen and (max-width: $mobile-max){
    max-height: 10rem;
    min-height: 10rem;
  }
}

.itemLabel{
  @media screen and (max-width: 520px){
    font-size: calc(14px + 0.5vw);
    font-weight: 700;
  }
}

.spin{
  color: #fef494;
}

.lottery{
  color: #4148e7;
}