@import "scss/index";


.root{
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  @media only screen and (max-width: 985px) {
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
  }
  border-radius: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  &.disabled{
    background: url('/img/Games/mines/mine_disabled.png')
  }
  &.mine{
    background: url('/img/Games/mines/mine_mine.png')
  }
  &.bonus{
    background: url('/img/Games/mines/mine_bonus.svg')
  }

}
