@import "scss/index";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  // @include componentRoot;
  flex: 1;
  &.mobile{
    padding-bottom: 50px;
    .board{
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1023px){

        margin-top: 0px;
      }
      > div{
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
    .iframeWrapper{
      flex: 1
    }
  }

}

.board {
  flex: 1;
  margin-top: 20px;

    border-radius: 18px;


}

.iframeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  &:after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 50%;
    @media screen and (max-width: 1023px){
      padding-top: 30%;
    }
    @media screen and (max-width: $xs-land){
      padding-top: 150%;
    }
  }
}

.iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  border: none;
}
.error{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $dark100;
  text-align: center;
  font-size: 18px;
}
