@import "scss/index";
.root{
  display: flex;
  flex-direction: column;
  grid-gap: 16px 0px;
}
.modalBody{
  padding-bottom: 0px;
}
.form {
  display: flex;
  flex-direction: column;
  grid-gap: 10px 0px;
  @media screen and (max-width: $xs-max){
    grid-gap: 8px 0px;
  }
}


.promo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover{
    span{
      text-decoration: underline;
    }
  }
  span {
    line-height: 100%;
    font-size: 13px;
    color: $white;
  }
}

.plus {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 14px;
  margin-right: 8px;
  line-height: 100%;
  padding-top: 1px;
}

.bottom{
  display: flex;
  justify-content: space-between;

}

.code{
  justify-content: flex-end;
}

.rate{
  font-weight: 500;
  font-size: 12px;
  color: $dark300;
  text-align: right;
}

.wallet{
  width: 100%;
  color: $white;
  padding: 15px;
  img{
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
}
.sheetBody{
  padding-top: 0px;
}
.fixTemp{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
