@import "scss/index";
.root{
  position: relative;
  margin-bottom: 12px;
}
.wrapper{
  position: relative;
  flex-direction: column;
}

.input{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 8px;
  background: $dark600;
  border: 0;
  width: 100%;
  padding: 18px 20px;
  color: #717384;
  flex: 1;
  font-weight: 500;
  @media screen and (max-width: $xs-max) {
    background-color: $dark700;
  }
  &:-webkit-autofill{
    -webkit-text-fill-color: #717384 !important;
  }
  @media screen and (max-width: $sm-min) {
    padding: 15px 15px;
  }

  &::placeholder{
    font-size: 13px;
    color: $dark200;
  }
  &.inputFocused{
    color: $white;
    font-weight: 500;
  }

  &.inputError{
    color: #ED4700;
    border: 1px solid #ED4700;
    &::placeholder{
      color:  #ED4700 !important;
    }
  }
}

.inputAlt{
  color: $white;
  font-weight: 500;
  font-size: 16px;
}

.inputWrapper{
  position: relative;
}

.withLabel{
  display: flex;
  align-items: center;
  background: #272832;
  border-radius: 12px;
  height: 70px;
  @media screen and (max-width: $xs-max) {
    height: 50px;
    background-color: $dark700;
  }
}

.label{
  margin-left: 29px;
  font-weight: 500;
  font-size: 16px;
  color: $dark200;
  @media screen and (max-width: $xs-max) {
    font-size: 12px;
    margin-left: 17px;
  }
}


.obscure{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  path{
    fill: #6B6C77;
  }
  &.show{
    path{
      fill: $white;
    }
  }
}
