@import "scss/index";
.root{
  position: relative;
  margin-bottom: 12px;
}
.wrapper{
  position: relative;
  flex-direction: column;
}

.input{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 8px;
  background: $dark600;
  border: 0;
  width: 100%;
  padding: 18px 20px;
  color: #717384;
  flex: 1;
  &:-webkit-autofill{
    -webkit-text-fill-color: #717384 !important;
  }
  @media screen and (max-width: $sm-min) {
    padding: 15px 15px;
  }

  &::placeholder{
    font-size: 14px;
    color: $dark200;
  }
  &.inputFocused{
    color: $white;
  }

  &.inputError{
    color: #FF1066;
    &::placeholder{
      color:  #FF1066 !important;
    }
  }

}


.obscure{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  path{
    fill: #6B6C77;
  }
  &.show{
    path{
      fill: $white;
    }
  }
}
