@import "scss/index";

.root {
    @include componentRoot;
}

.header{
}

.all{
    padding: 13px 17px;
    border-radius: 8px;
    background-color: $dark600;
    color: $white;
    font-weight: 600;
    font-size: 12px;
    @media screen and (max-width: 700px){
        padding: 8px 9px;
        span{
            display: none;
        }
    }
  }

  .left{
      display: flex;
      align-items: center;
  }

.label{
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    @media screen and (max-width: 450px){
        font-size: 13px;
    }
}

.content{
    display: flex;
    margin-top: 25px;
    @media screen and (max-width: 950px){
        flex-direction: column;
      }
}

.user{
    padding: 20px 55px 20px 20px;
    background-color: $dark600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 450px){
        padding: 8px 16px 8px 15px;
        margin-right: -16px;
        margin-left: -10px;
        border-radius: 0;
    }
}

.userLeft{
    display: flex;
    align-items: center;
    flex: 1;
}

.first{
    svg{

    }
}

.list{
    flex: 1;
    div:nth-child(even){
        background-color: transparent;
    }
}

.award{
    margin-right: 20px;
    @media screen and (max-width: 450px){
        margin-right: 10px;
    }
}

.avatar{
    margin-right: 20px;
    @media screen and (max-width: 450px){
        margin-right: 10px;
    }
}

.nick{
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    @media screen and (max-width: 450px){
        font-size: 11px;
    }
}

.image{
    img{
        width: 100%;
    }
}

.amount{
    font-weight: 500;
    font-size: 13px;
    color: $pay500;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 450px){
        font-size: 8px;
    }
}

.illustration{
    margin-right: 30px;
    img{
        width: 100%;
    }
    @media screen and (max-width: 950px){
        display: flex;
        margin-right: 0;
        justify-content: center;
        margin-bottom: 13px;
    }
}

.game{
    font-weight: 500;
    font-size: 13px;
    color: $dark200;
    flex: 1;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1360px){
        display: none;
      }
      @media screen and (max-width: 950px){
        display: flex;
      }
      @media screen and (max-width: 700px){
        display: none;
      }
}
