@import "scss/index";


.promo {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 18px;
  &:hover{
    span{
      text-decoration: underline;
    }
  }
  span {
    font-size: 13px;
    color: #FFD12F;
  }
}

.plus {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #FFD12F;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 14px;
  margin-right: 8px;
  line-height: 100%;
  padding-top: 1px;
}
