@import "scss/index";
$radius: 6px;
$radiusMobile: 4px;
$radiusTimer: 5px;
$radiusTimerMobile: 3.5px;
$timerSize: 40px;
$timerSizeMobile: 27px;

.root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #32333E;
  border-radius: $radius;
  padding: 14px 0px 14px 0px;
  @media screen and (max-width: $xs-max){
    border-radius: $radiusMobile;
    padding: 8px 0px 8px 0px;
  }
}
.label{
  text-transform: uppercase;
  color: $dark100;
  text-align: center;
}
.timer{
  display: flex;
  align-items: flex-start;
    margin-top: 18px;
  @media screen and (max-width: $xs-max){
    margin-top: 9px;
  }
}
.timerItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timerGroup{
  display: flex;
  flex-direction: row;
  align-items: center;
  > * + *{
    margin-left: 3px;
  }
  @media screen and (max-width: $xs-max){
    > * + *{
      margin-left: 2px;
    }
  }
}
.timerSquare{
  position: relative;
  margin-top: 3px;
  background: #FCD535;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $timerSize;
  height: $timerSize;
  border-radius: $radiusTimer;
  @media screen and (max-width: $xs-max){
    margin-top: 0px;
    border-radius: $radiusTimerMobile;
    width: $timerSizeMobile;
    height: $timerSizeMobile;
  }
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: -3px;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    background: #FCD535;
    opacity: 0.55;
    border-radius: $radiusTimer;
    @media screen and (max-width: $xs-max){
      display: none;
    }
  }
  &:after{
    content: '';
    position: absolute;
    background: #EFC51B;
    height: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: $radiusTimer;
    border-top-right-radius: $radiusTimer;
  }
}
.number{
  z-index: 1;
  font-size: 20px;
  font-weight: 700;
  padding-top: 3px;
  color: #000000;
  @media screen and (max-width: $xs-max) {
    font-size: inherit;
  }
}
.separator{
  width: 25px;
  height: $timerSize;
  text-align: center;
  color: $white;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $xs-max) {
    width: 18px;
    height: $timerSizeMobile;
    margin-top: 1px;
  }
  font-size: 20px;
  font-weight: 700;
  @media screen and (max-width: $xs-max) {
    font-size: inherit;
    width: 18px;
  }
}
.timeLabel{
  font-size: 14px;
  margin-top: 6px;
  color: $white;
  @media screen and (max-width: $xs-max) {
    font-weight: 500;
    font-size: $mobile12;
    margin-top: 6px;
  }
}
