@import "scss/index";
.root{
  display: flex;
  flex-direction: column;
  flex: 1;
  &.fixed{
    max-height: 80vh;
    @media screen and (max-width: 900px){
      min-height: 100vh;
      height:100%;
      max-height: unset;
      min-height: -webkit-fill-available;
    }

  }

}
